{% extends 'open_mat/base.html' %}

{% block content %}
    {% for notice in notices %}
        <div class="notice">
            <div class="date">
                <p>작성일시: {{ notice.published_date }}</p>
            </div>
            <h1><a href="">{{ notice.title }}</a></h1>
            <p>{{ notice.text|linebreaksbr }}</p>
            <div class="date-and-location">
                <p>일시: {{ notice.event_date }}</p>
                <p>장소: {{ notice.location }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}